


/* ===============================
    extra small device css starts
=============================== */
@media(min-width: 300px) and (max-width: 575px){

    /* button common css starts */
    .cta-btn{
        padding: 0 10px;
        line-height: 35px;
        font-size: 20px;
    }
    /* button common css ends */

    /* navbar css starts */
    .navbar{
        background: #f7f451b2;
        padding-bottom: 10px !important;
    }
    .navbar .navbar-brand{
        position: static !important;
        margin-top: -25px;
    }

    .navbar .navbar-toggler {
        margin-top: -58px;
    }
    /* navbar css endss */

    /* banner css starts */

    #banner {
        padding-top: 150px;
        padding-bottom: 80px;
    }

    #banner .banner-bg img {
        width: 100%;
        margin-left: 0px !important;
        padding-right: 15px;
    }

    #banner .banner-text h4 {
        padding-top: 50px;
        margin-right: 100px !important;
        margin-bottom: -25px !important;
    }

    #banner .banner-text h1 {
        margin-top: 0 !important;
        font-size: 170px;
    }

    #banner .banner-text p {
        padding: 0 0px;
        padding-bottom: 30px;
    }

    #banner .banner-text button{
        margin-left: 12px;
    }
    /* banner css ends */
    #steps{
        display: none !important;
    }

    /* steps css starts */


    /* steps css ends */

    /* related game css starts */

    #related-game {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    #related-game .game-heading {
        padding: 0px 0px;
        padding-bottom: 30px;
    }

    #related-game .game-heading h3{
        font-size: 38px;
    }

    #related-game .game-item{
        padding-bottom: 35px;
    }

    /* related game css ends */

    /* unlock free spin css starts */

    #free-spin{
        padding-top: 60px;
        padding-bottom: 190px;
    }

    #free-spin .spin-text {
        padding-left: 10px;
        padding-top: 0px;
        padding-bottom: 30px;
    }

    #free-spin .spin-text .spin-heading h4{
        font-size: 38px;
    }

    #free-spin .spin-text .spin-btn {
        padding-top: 30px;
    }

    /* unlock free spin css ends */

    /* Our Pricing Plan css starts */

    #price-plan {
        padding-top: 64px;
        padding-bottom: 30px;
    }

    #price-plan header {
        padding-bottom: 60px;
    }

    #price-plan header h3{
        font-size: 38px;
    }

    #price-plan .card {
        margin-bottom: 70px;
    }

    #price-plan .card .trial-plan {
        padding-top: 40px;
    }

    #price-plan .card .price-plan-btn {
        bottom: -14px;
    }

    #price-plan .card .cta-btn{
        font-size: 19px;
    }

    /* Our Pricing Plan css ends */


    /* Tournaments css starts */

    #tournament{
        padding-top: 60px;
        padding-bottom: 60px;
    }

    #tournament .header h3{
        font-size: 27px;
    }

    #tournament .question-list ol li span {
        width: 80%;
        font-size: 18px;
    }

    /* Todays Tournaments css starts */

    #tournament .todays-tournament{
        padding-bottom: 20px;
        border-bottom: 2px solid #0b001b;
        box-shadow: 0px 1px 0px 0px #3d013173;
    }

    #remaining-time {
        justify-content: space-around;
        font-size: 16px;
    }

    #remaining-time div {
        padding: 0px 10px 0px 10px;
        padding-top: 5px !important;
        margin: 0 10px;
    }

    #remaining-time div:last-of-type{
        margin-right: 10px;
    }

    #tournament .tournaments-list .name {
        font-size: 14px;
    }

    #tournament .tournaments-list .dolar {
        width: 38%;
        font-size: 14px;
    }

    /* Tournaments css ends */

/* subscribe & payment mathot starts css starts */

    #subscribe-offer .newsletter {
        padding-bottom: 40px;
        border-bottom: 2px solid #0b001b;
        box-shadow: 0px 1px 0px 0px #fdc202dc;
    }

    #subscribe-offer .newsletter {
        margin-right: 0px;
    }

    .newsletter .offer-subscribe input {
        width: 82%;
    }

    .pay-card {
        padding-top: 40px;
        margin-left: 0px;
        border-top: 2px solid #3d013173;
    }

/* subscribe & payment mathot starts css ends */

/* footer css starts */

    footer .container {
        padding-bottom: 30px;
    }

    .about-jacpot,
    .important-link {
        border-bottom: 1px solid #e8f806;
        box-shadow: 0px 2px 0px 0px #590261dc;
        padding-bottom: 30px;
        margin-bottom: 30px;
    }

    .footer-copy p::before{
        display: none;
    }

    .footer-copy p::after{
        display: none;
    }

/* footer css ends */

}
/* ===============================
    extra small device css ends
=============================== */

/* ===================================
    smsll device responsive css starts
=================================== */
@media(min-width: 576px) and (max-width: 767px) {
    /* navbar css starts */
    .navbar {
        background: #f7f451b2;
        padding-bottom: 10px !important;
    }

    .navbar .navbar-brand {
        position: static !important;
        margin-top: -25px;
    }

    .navbar .navbar-toggler {
        margin-top: 50px;
    }

    /* navbar css endss */

    /* banner css starts */

#banner {
    padding-top: 130px;
    padding-bottom: 80px;
}

#banner .banner-bg img {
    width: 100%;
    margin-left: 0px !important;
}

#banner .banner-text h4 {
    padding-top: 50px;
    margin-left: 53px !important;
    margin-bottom: -37px !important;
}

#banner .banner-text h1 {
    margin-top: 0 !important;
    font-size: 280px;
}

#banner .banner-text p {
    padding: 0 0px;
    padding-bottom: 30px;
}

#banner .banner-text button {
    margin-left: 12px;
}

/* banner css ends */

/* steps css starts */

/* #steps {
    padding-bottom: 0px;
    padding-top: 0px;
} */

/* steps css ends */

/* related game css starts */

#related-game {
    padding-top: 60px;
    padding-bottom: 60px;
}

#related-game .game-heading {
    padding: 0px 0px;
    padding-bottom: 30px;
}

#related-game .game-heading h3 {
    font-size: 50px;
}

#related-game .game-item {
    padding-bottom: 35px;
}

/* related game css ends */

/* unlock free spin css starts */

#free-spin {
    padding-top: 60px;
    padding-bottom: 190px;
}

#free-spin .spin-text {
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 40px;
}

#free-spin .spin-text .spin-heading h4 {
    font-size: 50px;
}

#free-spin .spin-text .spin-btn {
    padding-top: 30px;
}

/* unlock free spin css ends */

/* Our Pricing Plan css starts */

#price-plan {
    padding-top: 64px;
    padding-bottom: 30px;
}

#price-plan header {
    padding-bottom: 60px;
}

#price-plan header h3 {
    font-size: 50px;
}

#price-plan .card {
    margin-bottom: 70px;
}

#price-plan .card .trial-plan {
    padding-top: 50px;
    padding-bottom: 15px;
}

#price-plan .card .price-plan-btn {
    bottom: -20px;
}

#price-plan .card .cta-btn {
    font-size: 24px;
}

/* Our Pricing Plan css ends */

/* subscribe & payment mathot starts css starts */

#subscribe-offer .newsletter {
    padding-bottom: 40px;
    border-bottom: 2px solid #0b001b;
    box-shadow: 0px 1px 0px 0px #fdc202dc;
}

#subscribe-offer .newsletter {
    margin-right: 0px;
}

.newsletter .offer-subscribe input {
    width: 82%;
}

.pay-card {
    padding-top: 40px;
    margin-left: 0px;
    border-top: 2px solid #3d013173;
}

/* subscribe & payment mathot starts css ends */

/* Todays Tournaments css starts */

#tournament .question-list{
    padding-bottom: 25px;
    border-bottom: 2px solid #0b001b;
    box-shadow: 0px 1px 0px 0px #3d013173;
}

#tournament .todays-tournament {
    padding-top: 50px;
    padding-bottom: 25px;
    border-bottom: 2px solid #0b001b;
    box-shadow: 0px 1px 0px 0px #3d013173;
}

    /* footer css starts */ 
footer .container {
    padding-bottom: 30px;
}

.about-jacpot,
.important-link {
    border-bottom: 1px solid #e8f806;
    box-shadow: 0px 2px 0px 0px #590261dc;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.footer-copy p::before {
    display: none;
}

.footer-copy p::after {
    display: none;
}

/* footer css ends */
}

/* ===================================
    smsll device responsive css ends
=================================== */

/* =====================================
    medium device responsive css starts
===================================== */
@media(min-width: 768px) and (max-width: 991px) {

    /* navbar css starts */

    .navbar {
        background: #f7f451b2;
        padding-bottom: 10px !important;
        position: fixed !important;
        top: 0;
        left: 0;
        z-index: 999;
    }

    .navbar .navbar-toggler {
        margin-top: 80px;
    }

    /* navbar css ends */

    /* banner css starts */

    #banner .banner-bg img {
        margin-left: 0px;
    }

    #banner .banner-text{
        text-align: unset !important;
    }

    #banner .banner-text h4 {
        padding-top: 0px;
        padding-bottom: 0px !important;
        margin-right: 0px !important;
        margin-bottom: -40px !important;
        text-align: start;
    }

    #banner .banner-text h1 {
        margin-top: 0 !important;
        font-size: 265px;
        text-align: start;
    }

    #banner .banner-text p {
        padding: 0 0px;
        padding-bottom: 30px;
    }

    /* banner css ends */

    /* steps css starts */

    #steps .card-1 {
        padding-left: 58px;
        padding-right: 58px;
    }

    #steps .card-2 {
        right: 0;
        padding-left: 19px;
        padding-right: 19px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    /* steps css ends */

    /* unlock free spin  css starts */

    #free-spin {
        padding-top: 100px;
        padding-bottom: 30px;
    }

    #free-spin .spin-text {
        padding-top: 0px;
    }

    /* unlock free spin  css ends */

    /* Our Pricing Plan css starts */
    
    #price-plan{
        padding-bottom: 80px;
    }

    #price-plan .price-plan-item-3{
        margin-top: 75px;
    }

    /* Our Pricing Plan css ends */

    /* Tournaments Frequently Ask Questionscss starts */

    #tournament .header h3{
        font-size: 33px;
    }

    #tournament .question-list ol li span{
        width: 80%;
        font-size: 18px;
    }

    /* Tournaments Frequently Ask Questionscss ends */

    /* Tournaments Today’s Tournaments css starts */

    #remaining-time {
        justify-content: space-around;
        font-size: 20px;
    }

    #tournament .tournaments-list .name {
        font-size: 16px;
    }

    #tournament .tournaments-list .dolar{
        width: 40%;
    }

    /* Tournaments Today’s Tournaments css ends */

}

/* footer css starts */

    #footer header h6{
        font-size: 30px;
    }

/* footer css ends */

/* =====================================
    medium device responsive css ends
===================================== */

/* ====================================
    large device responsive css starts
==================================== */
@media(min-width: 992px) and (max-width: 1199px) {

    /* navbar css starts */
    .navbar{
        position: fixed !important;
    }

    .navbar-light .navbar-nav {
        margin-right: 0px !important;
    }

    .navbar-brand{
        margin-right: 0 !important;
    }

    .navbar-light .navbar-nav .nav-link {
        padding: 0 18px !important;
        font-size: 18px;
    }

    /* navbar css ends */
    /* banner css starts */

    #banner .banner-text h4 {
        margin-right: 228.5px !important;
        padding-top: 60px;
    }

    #banner .banner-text h1{
    font-size: 280px;
    }





    /* banner css ends */

    #steps .steps-card{
        padding: 30px 47px;
    }

    #steps .card-2{
        left: 330px;
    }

    #steps .card-3{
        left: 623px;
    }


    #price-plan .card .price-plan-btn {
        font-size: 20px;
    }

}

/* ==================================
    large device responsive css ends
================================== */

















/* css starts */
/* css ends */


/* ===============================
     device responsive css starts
=============================== */
@media(min-width: px) and (max-width: px){

}
/* ===============================
     device responsive css ends
=============================== */